<h2>
  {{"PHOTOS" | getText}}
</h2>

<!-- <div class="photos_wrapper">
  <div class="photo_list">
    <div *ngFor="let photo of photos; let i = index" class="photo_list_wrapper">
      <div class="photo_frame" [style.backgroundImage]="'url('+ photo.previewUrl +')'" (click)="openGallery(i)"></div>
    </div>
  </div>
</div> -->

<mat-grid-list cols="{{columnsNum | async}}" rowHeight="3.98:3">
  <mat-grid-tile *ngFor="let photo of photos; let i = index">
    <div class="photo_frame_holder">
      <img class="photo_frame" src="{{photo.previewUrl}}" (click)="openGallery(i)" />
    </div>
  </mat-grid-tile>
</mat-grid-list>

<ngx-image-gallery [images]="gallery_images" [conf]="gallery_config">
</ngx-image-gallery>