/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: MainFont;
    src: url('/assets/font/main_font');
}

@font-face {
    font-family: SecondaryFont;
    src: url('/assets/font/secondary_font_regular.ttf');
}

@font-face {
    font-family: SecondaryFontLight;
    src: url('/assets/font/secondary_font_light.ttf');
}

div, body, html {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: MainFont, "Helvetica Neue", sans-serif;
}

li {
    font-family: SecondaryFontLight, "Helvetica Neue", sans-serif;
    font-size: 95%;
    line-height: 1.5;
}

p {
    font-family: MainFont, "Helvetica Neue", sans-serif;
}

h3 {
    font-family: SecondaryFont, "Helvetica Neue", sans-serif;
    color: #333;
}

a {
    font-family: SecondaryFont, "Helvetica Neue", sans-serif;
    color: #333;
    line-height: 1.5;
}

.code {
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    color: #E74C3C;
    border: solid 1px #e1e4e5;
    padding: 2px 5px;
    font-size: 90%;
}

.box_shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px
}

.loading {
    background: url(/assets/gif/loading_spiner.gif) center center no-repeat;
}